@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary {
  color: blue;
}

@layer base {
  :root {
    --sidebar-width: 28rem;
  --sidebar-width-mobile: 24rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    :root {
  --primary: 222.2 47.4% 11.2%;
}
  }

  .dark {
    --sidebar-width: 28rem;
    --sidebar-width-mobile: 24rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  :root {
    
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;

    --primary: 222 47% 11%;
    --primary-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 47% 11%;
  }

  body {
    @apply bg-background text-foreground;
  }
}